@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    background: #000;
}

.w-full{
    width: 70%;
    height: 8vh;
    border-radius: 2% solid white;
    background-color: azure;
    color: orange;
    text-align: center;
    margin-left: 13%;
    /* align-items: center;
    align-self: center; */
}

.h-full{
    height: 100%;
}

.rounded-lg {
    border-radius: 0.5rem/* 8px */;
}

.my-8 {
    margin-top: 2rem/* 32px */;
    margin-bottom: 2rem/* 32px */;
}

.text-orange-500 {
    --tw-text-opacity: 1;
    color: rgb(249 115 22 / var(--tw-text-opacity));
}

.bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.text-center {
    text-align: center;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
}

.button{
    display: flexbox;
    width: 12vh;
    height: 8vh;
    background-color: rgb(6, 6, 255);
    color: white;
    border-radius: 5%;
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.flex {
    display: flex;
}

.text-sm {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.gap-x-2 {
    column-gap: 0.5rem/* 8px */;
}

.cursor-pointer {
    cursor: pointer;
}

.items-center {
    align-items: center;
}

.hero{
    align-items: center;
    align-content: center;
    align-self: center;
    padding-top: 3%;
    padding-left: 35%;
}

.p-r-4{
    padding-right: 4%;
}

